body {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.item {
    width: 6.25%;
    height: 100.75px;
}

.item.black  {
    background-color: black;
}