body {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 1290px;
    height: 1290px;
}



.item.black  {
    background-color: black;
}

.button  {
    text-align: center;
}